<template>
  <view class="submit">
    <view class="main">
      <view class="delivery-addr">
        <view class="addr-bg">
          <view class="addr-icon">
            <image class="img" src="../../static/images/icon/addr.png"></image>
          </view>
          <view class="user-info">
            <text class="ppp">滋滋滋</text>
            <text class="ppp">13546610421</text>
          </view>
          <view class="addr">天津市市辖区北辰区家里</view>
          <view class="arrow"></view>
        </view>
      </view>
      <view class="prod-item">
        <!-- 商品 -->
        <view class="item-cont">
          <view class="prod-pic">
            <image
              class="img"
              src="https://img.mall4j.com/2019/05/1bdd097dbffd477799a7aca949377b20.jpg"
            ></image>
          </view>
          <view class="prod-info">
            <view class="prodname"> 111111111111111 </view>
            <view class="prod-info-cont">400ml</view>
            <view class="price-nums">
              <view class="prodprice">
                <text class="">￥</text>
                <text class="">30</text>
                <text class="">.00</text>
              </view>
              <view class="prodcount"> x1 </view>
            </view>
          </view>
        </view>
        <!-- 合计 -->
        <view class="total-num">
          <text class="zuo">共3件商品</text>
          <view class="you">
            <view class=".z"> 合计： </view>
            <view class=".y">
              <text class="symbol">￥</text>
              <text class="big-num">200</text>
              <text class="small-num">.00</text>
            </view>
          </view>
        </view>
      </view>
      <!-- 留言 -->
      <view class="order-msg">
        <view class="msg-item">
          <view class="item">
            <text class="hui">优惠券：</text>
            <text class="wu">暂无可用</text>
            <text class="shu">0张</text>
            <text class="arrow"></text>
          </view>
          <view class="items">
            <text>买家留言：</text>
            <input type="text" placeholder="给卖家留言" />
          </view>
        </view>
      </view>
      <!-- 优惠 -->
      <viwe class="order-msgs">
        <view class="msg-items">
          <view class="item">
            <view class="item-tit">订单总额： </view>
            <view class="item-tits">
              <text class="symbol">￥</text>
              <text class="big-num">200</text>
              <text class="small-num">.00</text>
            </view>
          </view>
          <view class="item">
            <view class="item-tit">运费： </view>
            <view class="item-tits">
              <text class="symbol">￥</text>
              <text class="big-num">200</text>
              <text class="small-num">.00</text>
            </view>
          </view>
          <view class="item">
            <view class="item-tit">优惠金额： </view>
            <view class="item-tits">
              <text class="symbol">￥</text>
              <text class="big-num">200</text>
              <text class="small-num">.00</text>
            </view>
          </view>
          <view class="items">
            <view class="z">小计：</view>
            <view class="item-tits">
              <text class="symbol">￥</text>
              <text class="big-num">200</text>
              <text class="small-num">.00</text>
            </view>
          </view>
        </view>
      </viwe>
    </view>
    <view class="footer">
      <view class="letf">
        <view class="lefts"> 合计： </view>
        <view class="price">
          <text class="symbol">￥</text>
          <text class="big-num">300</text>
          <text class="small-num">.00</text>
        </view>
      </view>
      <view class="right">提交订单</view>
    </view>
  </view>
</template>

<script>
import { submit } from "@/api/submit.js";
export default {
  data() {
    return {
      list: [],
      orderEntry: 5,
    }; 
  },
  onLoad(option) {
    this.orderEntry = option.orderEntry;
    console.log('..............',this.orderEntry);
     
  },
  created() {
    this.getSubmit();
  },
  methods: {
    async getSubmit() {
      let res = await submit({});
      this.list = res[0].shopCartItemDiscounts;
      console.log(res, "55555555555555");
    },
  },
};
</script>

<style lang="scss" scoped>
.submit {
  width: 100%;
  height: 100%;
  .main {
    width: 100%;
    height: calc(100% - 55px);
    background-color: #f4f4f4;
    overflow: hidden;
    overflow-y: auto;
    .delivery-addr {
      width: 100%;
      height: auto;
      position: relative;
      background-color: #fff;
      .addr-bg {
        padding: 0 39rpx 0 77rpx;
        .addr-icon {
          width: 32rpx;
          height: 32rpx;
          display: block;
          position: absolute;
          left: 30rpx;
          top: 24rpx;
          .img {
            width: 100%;
            height: 100%;
          }
        }
        .user-info {
          padding-top: 20rpx;
          line-height: 48rpx;
          word-wrap: break-word;
          word-break: break-all;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          .ppp {
            font-size: 30rpx;
            margin-right: 30rpx;
            vertical-align: top;
            display: inline-block;
          }
        }
        .addr {
          font-size: 26rpx;
          line-height: 36rpx;
          color: #999;
          width: 90%;
          padding-bottom: 20rpx;
          margin-top: 15rpx;
        }
        .arrow {
          width: 15rpx;
          height: 15rpx;
          border-top: 2rpx solid #777;
          border-right: 2rpx solid #777;
          transform: rotate(45deg);
          position: absolute;
          right: 30rpx;
          top: 60rpx;
        }
      }
    }
    .prod-item {
      background-color: #fff;
      margin-top: 15rpx;
      font-size: 28rpx;
      .item-cont {
        display: flex;
        align-items: center;
        padding: 30rpx;
        border-bottom: 2rpx solid #f1f1f1;
        .prod-pic {
          font-size: 0;
          display: block;
          width: 160rpx;
          height: 160rpx;
          overflow: hidden;
          background: #fff;
          margin-right: 16rpx;
          .img {
            width: 100%;
            height: 100%;
          }
        }
        .prod-info {
          margin-left: 10rpx;
          font-size: 28rpx;
          width: 100%;
          position: relative;
          height: 160rpx;
          -ms-flex: 1;
          -webkit-box-flex: 1;
          -moz-box-flex: 1;
          flex: 1;
          .prodname {
            font-size: 28rpx;
            line-height: 40rpx;
            max-height: 86rpx;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            word-break: break-all;
          }
          .prod-info-cont {
            color: #999;
            line-height: 40rpx;
            margin-top: 10rpx;
            font-size: 22rpx;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            word-break: break-all;
          }
          .price-nums {
            width: 100%;
            height: auto;
            .prodprice {
              position: absolute;
              bottom: 0;
              .symbol {
                font-size: 24rpx;
              }
              .big-num {
                font-size: 32rpx;
              }
              .small-num {
                font-size: 24rpx;
              }
            }
            .prodcount {
              position: absolute;
              bottom: 5rpx;
              right: 0;
              color: #999;
              font-family: verdana;
            }
          }
        }
      }
      .total-num {
        text-align: right;
        padding: 20rpx 30rpx;
        font-size: 28rpx;
        display: flex;
        justify-content: flex-end;
        .you {
          margin-left: 20rpx;
          display: flex;
          align-items: center;
          .symbol {
            font-size: 24rpx;
          }
          .big-num {
            font-size: 32rpx;
          }
          .small-num {
            font-size: 24rpx;
          }
        }
      }
    }
    .order-msg {
      background: #fff;
      margin-top: 15rpx;
      padding: 0 30rpx;
      font-size: 28rpx;
      .msg-item {
        border-top: 2rpx solid #f1f1f1;
        .item {
          position: relative;
          display: flex;
          padding: 16rpx 0;
          align-items: center;
          border-bottom: 2rpx solid #e1e1e1;
          .hui {
            line-height: 48rpx;
          }
          .wu {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            flex: 1;
            font-family: arial;
            max-height: 48rpx;
            overflow: hidden;
            line-height: 48rpx;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            word-break: break-all;
          }
          .shu {
            display: block;
            margin: 0 30rpx;
            line-height: 28rpx;
            color: #999;
          }
          .arrow {
            width: 15rpx;
            height: 15rpx;
            border-top: 2rpx solid #999;
            border-right: 2rpx solid #999;
            transform: rotate(45deg);
            position: absolute;
            right: 0rpx;
          }
        }
        .items {
          position: relative;
          display: flex;
          padding: 16rpx 0;
          align-items: center;
        }
      }
    }
    .order-msgs {
      display: block;
      background: #fff;
      margin-top: 15rpx;
      padding: 0 30rpx;
      font-size: 28rpx;
      .msg-items {
        background: #fff;
        border-top: 2rpx solid #f1f1f1;
        .item {
          position: relative;
          display: flex;
          justify-content: space-between;
          padding: 16rpx 0;
          align-items: center;

          .item-tit {
            display: block;
            height: 48rpx;
            line-height: 48rpx;
          }
          .item-tits {
            color: #eb2444;
            font-size: 28rpx;
            margin-left: 20rpx;
            padding-top: 8rpx;
            padding-bottom: 8rpx;
            .symbol {
              font-size: 24rpx;
            }
            .big-num {
              font-size: 32rpx;
            }
            .small-num {
              font-size: 24rpx;
            }
          }
        }
        .items {
          position: relative;
          display: flex;
          padding: 16rpx 0;
          align-items: center;
          justify-content: flex-end;
          border-top: 2rpx solid #f1f1f1;
          .z {
            color: red;
            padding-top: 10rpx;
            padding-bottom: 10rpx;
          }
          .item-tits {
            color: #eb2444;
            font-size: 28rpx;
            margin-left: 20rpx;
            .symbol {
              font-size: 24rpx;
            }
            .big-num {
              font-size: 32rpx;
            }
            .small-num {
              font-size: 24rpx;
            }
          }
        }
      }
    }
  }
  .footer {
    width: 100%;
    height: 110rpx;
    font-size: 26rpx;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    .letf {
      width: calc(100% - 220rpx);
      display: flex;
      align-items: center;
      margin: 0 30rpx;
      font-size: 28rpx;
      .price {
        color: #eb2444;
        font-size: 28rpx;
        margin-left: 20rpx;
        .symbol {
          font-size: 24rpx;
        }
        .big-num {
          font-size: 32rpx;
        }
        .small-num {
          font-size: 24rpx;
        }
      }
    }
    .right {
      padding: 0 10rpx;
      width: 200rpx;
      background: #eb2444;
      text-align: center;
      line-height: 100rpx;
      color: #fff;
    }
  }
}
</style>
