<template>
  <view class="container">
    <view class="search-bar">
      <my-search
        @confirm="handleChangeSearch"
        :isShow="false"
        :val="val"
        class="search_mian"
      ></my-search>
    </view>

    <view class="search-display">
      <view class="hot-search">
        <text class="title-text">热门搜索</text>
        <view class="hot-search-tags">
          <text
            class="tags"
            v-for="(item, index) in arr"
            :key="index"
            @click="btns(item)"
            >{{ item.title }}</text
          >
        </view>
      </view>
      <view class="history-search">
        <view class="history-search-ss">
          <text class="title-text">搜索历史</text>
          <image
            class="img"
            src="../../static/images/icon/clear-his.png"
            @click="clearStorage"
          ></image>
        </view>
        <view class="his-search-tags">
          <text
            v-for="(item, index) in historyList"
            :key="index"
            class="tags"
            @click="btn(item)"
            >{{ item }}</text
          >
        </view>
      </view>
    </view>
  </view>
</template>

<script>
import { seArch } from "../../api/search";

export default {
  data() {
    return {
      arr: [],
      val: "",
      historyList: uni.getStorageSync("historylist") || [],
      obj: {
        number: 10,
        shopId: 1,
        sort: 1,
      },
    };
  },
  created() {
    this.getInit();
  },
  methods: {
    //历史跳转
    btn(item) {
      this.val = item;
      uni.navigateTo({
        url: "/searchpkg/result/result?val=" + this.val,
      });
    },
    //热门跳转
    btns(item) {
      this.Jump(item);
    },
    async getInit() {
      let res = await seArch(this.obj);
      this.arr = res;
    },
    handleChangeSearch(val) {
      console.log(val, "val");
      // 1.把搜索的值存储到本地
      this.saveStorage(val);
      // 2.跳转到搜索结果页面，带搜索的值过去
      uni.navigateTo({
        url: "/searchpkg/result/result?val=" + val,
      });
    },
    //删除
    clearStorage() {
      let ther = this;
      uni.showModal({
        title: "提示",
        content: "确认要进行删除吗？",
        showCancel: true,
        cancelText: "取消",
        cancelColor: "#000",
        confirmText: "确定",
        confirmColor: "#ff0000",
        success: function (res) {
          if (res.confirm) {
            ther.historyList = [];
            uni.removeStorageSync("historylist");
          } else if (res.cancel) {
            console.log("用户点击取消");
          }
        },
      });
    },
    saveStorage(val) {
      //搜索历史记录里面是否已经存在这个记录，先把原来的值删了，再加入最近新的值
      //如果不存在，直接unshift就可以了
      let ind = this.historyList.findIndex((item) => item === val);
      if (ind != -1) {
        this.historyList.splice(ind, 1);
      }
      this.historyList.unshift(val); //把搜索的值放到数组前面
      uni.setStorageSync("historylist", this.historyList); //存储数组
    },
    Jump(item) {
      this.val = item.content;
      uni.navigateTo({
        url: "/searchpkg/result/result?val=" + this.val,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  width: 100%;
  height: 100%;
  background-color: #fff;

  .search-bar {
    width: 100%;
    height: 100rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;

    .search_mian {
      width: 100%;
      height: 108rpx;

      .searchs {
        width: 100%;
        height: 60rpx;

        .my-search {
          width: 100%;
          height: 60rpx;
          .uni-searchbar__cancel {
            color: red;
          }
        }
      }
    }
  }

  //主体内容
  .search-display {
    padding: 20rpx;
    font-size: 26rpx;
    color: #666;

    //热门搜索
    .hot-search {
      width: 100%;
      height: auto;

      .title-text {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 30rpx;
      }

      .hot-search-tags {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;

        .tags {
          border-radius: 50rpx;
          background-color: #f2f2f2;
          margin-right: 20rpx;
          margin-bottom: 20rpx;
          padding: 10rpx 30rpx;
        }
      }
    }

    //搜索历史
    .history-search {
      width: 100%;
      height: auto;
      border-top: 2rpx solid #e1e1e1;

      .history-search-ss {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title-text {
          font-size: 30rpx;
        }

        .img {
          width: 32rpx;
          height: 32rpx;
        }
      }

      .his-search-tags {
        width: 100%;
        height: 60px;
        display: flex;
        flex-wrap: wrap;

        .tags {
          width: auto;
          height: 40rpx;
          line-height: 40rpx;
          border-radius: 50rpx;
          background-color: #f2f2f2;
          margin-right: 20rpx;
          margin-bottom: 20rpx;
          padding: 5rpx 30rpx;
        }
      }
    }
  }
}
</style>
