<template>
  <view class="my-comment">
    <view class="comment">
      <div class="commentHeader">
        <div>
          <h6>评论<span>好评0%</span></h6>
          <p>
            <b @click="getmodule">X&nbsp;&nbsp;</b>
          </p>
        </div>
      </div>
      <hr />
      <view class="btn">
        <div
          v-for="(item, index) in arrType"
          @click="getIndex(index)"
          :key="index"
          :class="i === index ? 'Highlight' : ''"
        >
          {{ item }}(0)
        </div>
      </view>
    </view>
  </view>
</template>

<script>
export default {
  name: "my-comment",
  data() {
    return {
      i: 0,
    };
  },
  props: ['shouCommentModuleFlag','arrType'],
  methods: {
    getIndex(index) {
      this.i = index;
    },
    getmodule() {
      this.shouCommentModuleFlag()
    },
  },
};
</script>
<style lang="scss">
.my-comment {
  width: 100% !important;
  height: calc(100% - 50px) !important;
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  background: #fff;
}
.comment {
  width: 100%;
  min-height: 140px;
  background: #fff;
  .commentHeader {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    div {
      width: calc(100% - 20px);
      margin-left: 10px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h6 {
        span {
          color: red;
          margin-left: 5px;
          font-size: 14px;
        }
      }
      p {
        b {
          color: rgb(171, 170, 170);
          font-size: 18px;
        }
      }
    }

    img {
      width: 14px;
      height: 14px;
      bottom: #ffc;
    }
    span {
      color: red;
    }
  }
  .btn {
    width: 100%;
    height: auto;
    padding: 0 10px;
    display: flex;
    div {
      background: rgb(253, 239, 239);
      width: 60px;
      height: 30px;
      margin: 13px 13px 0 0;
      text-align: center;
      line-height: 30px;
      font-size: 12px;
      border-radius: 3px;
      display: inline-block;
    }
    .Highlight {
      color: #fff;
      background: #f63253;
    }
  }
}
</style>