<template>
  <view>
    <view class="from">
      <text>收货人</text>
      <input type="text" v-model="name" placeholder="姓名" />
    </view>
    <view class="from">
      <text>手机号码</text>
      <input type="text" v-model="phone" placeholder="11位手机号码" />
    </view>
    <view class="from">
      <text>所在地区</text>
      <input type="text" v-model="aa" />
    </view>
    <view class="from">
      <text>详细地址</text>
      <input type="text" v-model="address" placeholder="如楼号/单元/门牌号" />
    </view>
    <view></view>
    <view class="button">
      <button @click="submin" class="sure"><text>保存收货地址</text></button>
    </view>
  </view>
</template>

<script>
// import { addre } from "../../api/addres";
export default {
  data() {
    return {
      name: "",
      phone: "",
      address: "",
    };
  },
  methods: {
    // console.log(aa);
    async submin() {
      let res = await addre({
        addr: this.address,
        addrId: 999,
        area: "鹿泉区",
        areaId: 130110000000,
        city: "石家庄市",
        cityId: 130100000000,
        commonAddr: 0,
        mobile:this.phone,
        province: "河北省",
        provinceId: 130000000000,
        receiver: this.name,
		userType: 0
      });
      console.log(res);
    },
  },
};
</script>

<style lang="scss" scoped>
.from {
  display: flex;
  align-items: center;
  border-bottom: 1px #e1e1e1 solid;
  width: 100%;
  height: 60px;
  padding-left: 10px;
  font-size: 14px;
  input {
    margin-left: 25px;
  }
}
.button {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.sure {
  width: 60%;
  height: 100%;
  border-radius: 25px;
  border: none;
  background-color: #eb2444;
  display: flex;
  align-items: center;
  justify-content: center;
  text {
    color: #fff;
    font-size: 14px;
  }
}
</style>