<template>
	<view class="uni-preferential">
		<view class="uni-items" v-for="item in list" :key="prodId">
			<view class="uni-imagecont">
				<img :src="item.pic" alt="" class="uni-img">
			</view>
			<view class="uni-up">
				<view class="title-text">
					{{item.prodName}}
				</view>
				<view class="uni-to">
					<view class="price">
						<text class="sybol">￥</text>
						<text class="big-num">{{item.price}}</text>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {indexpreferential} from '@/api/api.js'
	export default {
		data() {
			return {
				list:[]
			};
		},
		created() {
			this.getinit()
		},
		methods:{
			async getinit(){
				let res=await indexpreferential();
				console.log(res,'res');
				this.list=res.records
			}
		},
	}
</script>

<style lang="scss">
.uni-preferential {
		height: 100%;
		box-sizing: border-box;
	}

	.uni-items {
		padding: 20rpx 10rpx 10rpx 20rpx;
		width: 375rpx;
		float: left;
		background: #fff;
		padding-bottom: 20rpx;
		box-sizing: border-box;
	}

	.uni-imagecont {
		border-radius: 8rpx;
		text-align: center;
		font-size: 0;
	}

	.uni-img {
		width: 345rpx;
		height: 345rpx;
	}

	.uni-up {
		margin-top: 20rpx;
	}

	.title-text {
		height: 76rpx;
		font-size: 28rpx;
		overflow: hidden;
		color: #000;
	}

	.uni-to {
		position: relative;
		height: 50rpx;
		line-height: 70rpx;
		font-size: 30rpx;
	}

	.price {
		padding-bottom: 10rpx;
		padding-left: 10rpx;
		color: #eb2444;
	}
</style>
