<template>
  <view class="prod-list">
    <block v-if="shopCartItemDiscounts.length">
      <block v-for="(item, scIndex) in shopCartItemDiscounts" :key="scIndex">
        <view class="prod-block">
          <!-- 判断是否显示满减 -->
          <view class="discount-tips" :hidden="!item.chooseDiscountItemDto">
            <text class="text-block">{{
              item.chooseDiscountItemDto &&
              wxs.parseDiscount(item.chooseDiscountItemDto.discountRule)
            }}</text>
            <text class="text-list">{{
              item.chooseDiscountItemDto &&
              wxs.parseDiscountMsg(
                item.chooseDiscountItemDto.discountRule,
                item.chooseDiscountItemDto.needAmount,
                item.chooseDiscountItemDto.discount
              )
            }}</text>
          </view>

          <!-- 循环显示数据渲染 -->
          <block v-for="(prod, index) in item.shopCartItems" :key="index">
            <view class="item">
              <view class="btn">
                <checkbox-group @change="onSelectedItem(scIndex, index)">
                  <label>
                    <checkbox
                      :data-scindex="scIndex"
                      :data-index="index"
                      :value="prod.prodId"
                      :checked="prod.checked"
                      color="#105c3e"
                    />
                  </label>
                </checkbox-group>
              </view>
              <view class="prodinfo">
                <view class="pic">
                  <image :src="prod.pic" />
                </view>
                <view class="opt">
                  <view class="prod-name">{{ prod.prodName }}</view>
                  <text
                    :class="'prod-info-text' + (prod.skuName ? '' : ' empty-n')"
                    >{{ prod.skuName }}</text
                  >
                  <view class="price-count">
                    <view class="price">
                      <text class="symbol">￥</text>
                      <text class="big-num">{{
                        wxs.parsePrice(prod.price)[0]
                      }}</text>
                      <text class="small-num"
                        >.{{ wxs.parsePrice(prod.price)[1] }}</text
                      >
                    </view>
                    <view class="m-numSelector">
                      <view
                        @click="onCounts(scIndex, index, 'cut')"
                        class="minus"
                        :data-scindex="scIndex"
                        :data-index="index"
                      ></view>
                      <input type="number" :value="prod.prodCount" disabled />
                      <view
                        @click="onCounts(scIndex, index, 'add')"
                        class="plus"
                        :data-scindex="scIndex"
                        :data-index="index"
                      ></view>
                    </view>
                  </view>
                </view>
              </view>
            </view>
          </block>
        </view>
      </block>
    </block>
  </view>
</template>

<script>
import wxs from "@/utils/number";
export default {
  name: "shopItem",
  /*
  onshow中 调/p/shopCart/prodCount get请求 计算购物车总数量  
            调用/p/shopCart/totalPay 计算价格
            调用info 渲染购物车

  点击单选 获取到在数组的下标传入onSelectedItem把当前数据的checked取反
              通过this.setDate()修改重新渲染页面 
              循环整个数组判断所有数组checked都是ture则全选为ture 反正为false
              同时调用/p/shopCart/totalPay 入参[] 数组内容为选中项的basketId
              后台返回一个计算结果的对象 格式为：
                {
                  count: 2
                  finalMoney: 840
                  subtractMoney: 0
                  totalMoney: 840
                }
              把后台计算的结果渲染到页面上
    点击多选 
            全选checked变为ture 整个数据的checked都为ture
            通过this.setDate()修改重新渲染页面
            调totalpay 接口计算价格
            把后台计算的结果渲染到页面上

    加减     获取到在数组的下标传入 点击函数 把当前数据的prodId shopId skuId 
            调用/p/shopCart/changeItem  入参为
            {
              count: 1 加为1 减为-1
              prodId: 68
              shopId: 1
              skuId: 268
            }
             在成功后 把当前数据的prodCount +1 或者-1
             调totalpay 接口计算价格
             调/p/shopCart/prodCount get请求 重新计算购物车总数量 

    删除     入参[] 数组内容为选中项的basketId
             判断数组为空这提示
              wx.showToast({
                title: '请选择商品',
                icon: "none"
              })
            调用弹窗是否确认删除
              wx.showModal({
                title: '',
                content: '确认要删除选中的商品吗？',
                confirmColor: "#eb2444",
                success(res) {
                }
              })
            在确认删除回调中 
            调删除接口    
              {
                 url: "/p/shopCart/deleteItem",
                      method: "DELETE",
                      data: basketIds,
              }
              删除成功后
              调info接口重新渲染购物车数据
         
  */

  data() {
    return {
      wxs: wxs,
    };
  },
  watch:{
    shopCartItemDiscounts(newval,oblval){
      this.$nextTick(()=>{
        this.shopCartItemDiscounts = newval
      })
      
    },
    deep:true
  },
  mounted() {
    this.$set(this.shopCartItemDiscounts);
  },
  props: {
    shopCartItemDiscounts: Array,
    onSelectedItem: Function,
    onCounts: Function,
  },

  methods: {},
};
</script>

<style lang="scss"></style>
