<template>
  <view>
    <view class="main">
      <!-- <view v-if="flag" class="nodata">
        <img src="http://jiales.gz-yami.com/addr.png" alt="" />
        <text> 您还没有收货地址 </text>
      </view> -->
      <view v-for="(item, index) in list" :key="index">
        <view class="card">
          <view class="xinxi">
            <view>
              <text class="name"> {{ item.receiver }}</text>
              <text> {{ item.mobile }}</text>
              <img
                class="edit"
                src="../../static/images/icon/revise.png"
                alt=""
                @click="gotoedit(item.addrId)"
              />
            </view>
            <view class="xadd">
              <view>
                {{ item.province }}{{ item.city }}{{ item.area }}{{ item.addr }}
              </view>
            </view>
          </view>
          <view class="default">
            <label>
              <radio
                :checked="item.commonAddr === 1 ? true : false"
                color="red"
                @click="aa(item)"
                :value="item.addrId"
              />
              设为默认地址
            </label>
          </view>
        </view>
      </view>
      <view class="konghezi"> </view>
    </view>
    <view class="footer" @click="gotoaddaddress">
      <text> 新增收货地址 </text>
    </view>
  </view>
</template>

<script>
import { addlist, addrInfo, defaultAddr } from "../../api/addres.js";

import { mapActions } from "vuex";
export default {
  data() {
    return {
      list: [],
      flag: true,
    };
  },
  created() {
    this.getinit();
    // this.aa();
  },
  methods: {
    ...mapActions("total", ["getaddrlist"]),
    async aa(item) {
      item.commonAddr == 1 ? (item.commonAddr = 0) : (item.commonAddr = 1);
      await defaultAddr(item.addrId);
      this.getinit();
    },
    async getinit() {
      let res = await addlist();
      this.list = res;
      console.log(res);
    },
    async gotoaddaddress() {
      uni.navigateTo({
        url: "/pages/addaddr/addaddr",
      });
    },
    async gotoedit(id) {
      let res = await addrInfo(id);
      console.log(res);
      this.getaddrlist({ list: res });
      uni.navigateTo({
        url: `/pages/my/editaddr/editaddr?${res}`,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.main {
  flex: 1;
}

.card {
  height: 110px;
  background-color: #fff;
  margin-top: 10px;
}

.nodata {
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;

  img {
    margin-top: 50px;
    width: 100px;
    height: 100px;
  }

  text {
    margin-top: 15px;
    font-size: 14px;
    color: #c6c6c6;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100rpx;
  line-height: 100rpx;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 -1rpx 8rpx rgba(0, 0, 0, 0.05);

  text {
    font-size: 16px;
    color: red;
  }
}

.xinxi {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 14px;
  padding: 20rpx 30rpx;
  border-bottom: 3rpx dashed #e9eaec;
  height: 50px;
  position: relative;
}

.edit {
  position: absolute;
  right: 15px;
  top: 25px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.konghezi {
  height: 150px;
}

.xadd {
  font-size: 12px;
  color: #999;
}

.name {
  font-size: 16px;
  margin-right: 15px;
}

.default {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 13px;
  padding: 0 15px;
}
</style>
