<template>
	<view class="uni-announ">
		<view class="uni-newdetail">
			<view class="newtitle">
				{{list.title}}
			</view>
			<rich-text :nodes="list.content"></rich-text>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				list: {} //列表的对象
			};
		},
		//options是默认传过来的数据
		onLoad(options) {
			let arr = decodeURIComponent(options.row);
			//转换为js对象
			let res=JSON.parse(arr);
			this.list =res ;
			console.log(this.list, '11111');
		},
	
	}
</script>

<style lang="scss">
	.uni-announ {
		height: 100%;
		box-sizing: border-box;
	}

	.uni-newdetail {
		padding: 20rpx;
	}

	.newtitle {
		font-size: 32rpx;
		font-weight: bold;
		line-height: 50rpx;
		padding: 20rpx;
	}
</style>
