<template>
  <view>
    <view class="tab_nav">
      <view class="navTitle" v-for="(item, index) in navList" :key="index">
        <view :class="{ active: isActive === index }" @click="checked(index)">
          {{ item.title }}
        </view>
      </view>
    </view>
    <view class="nav_item" v-if="isActive == 0"> 0 </view>
    <view class="nav_item" v-if="isActive == 1"> 1 </view>
    <view class="nav_item" v-if="isActive == 2"> 2 </view>
    <view class="nav_item" v-if="isActive == 3"> 2 </view>
    <view class="nav_item" v-if="isActive == 4"> 2 </view>
  </view>
</template>

<script>
export default {
  data() {
    return {
      isActive: 0,
      navList: [
        {
          index: 0,
          title: "全部",
        },
        {
          index: 1,
          title: "待支付",
        },
        {
          index: 2,
          title: "待发货",
        },
        {
          index: 3,
          title: "待收货",
        },
        {
          index: 4,
          title: "已完成",
        },
      ],
    };
  },
  methods: {
    checked(index) {
      this.isActive = index;
    },
  },
};
</script>


<style lang="scss" scoped>
.tab_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.tab_nav .navTitle {
  height: 90rpx;
  line-height: 90rpx;
  width: 100%;
  text-align: center;
  font-size: 30rpx;
  font-family: Alibaba PuHuiTi;
  color: #333;
}
.active {
  position: relative;
  color:red;
}
.active::after {
  content: "";
  position: absolute;
  width: 100rpx;
  height: 4rpx;
  background-color: red;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}
</style>
