<template>
  <view>
    <view class="binding">
      <view class="item">
        <view class="itemtel">手机号码：</view>
        <input type="text" placeholder="输入手机号码" />
      </view>
      <view class="item">
        <view class="itemtel">验证码：</view>
        <input type="text" placeholder="输入验证码" />
        <text class="getcode">获取验证码</text>
      </view>
    </view>
    <view class="button">
      <view class="sure"> 确定 </view>
    </view>
  </view>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
.binding {
  height: 100%;
  margin-top: 10px;
  background: #fff;
}
.item {
  display: flex;
  padding: 10px 0;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #e1e1e1;
  .itemtel {
    width: 70px;
    font-size: 14px;
    padding-left: 10px;
  }
  .getcode {
    color: #3eb370;
    font-size: 14px;
    margin-right: 10px;
    text-align: center;
  }
}
.button {
  padding: 0 10px;
  margin-top: 30px;
  .sure {
    background: #e1e1e1;
    margin-bottom: 15px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px 0;
    border-radius: 25px;
  }
}
</style>
