<template>
	<view class="uni-box">
		<!-- 搜索 -->
		<view @click="goTosearch" class="search-bar">
			<my-search class="search_mian" :isShow="true"></my-search>
		</view>
		<!-- 轮播 -->
		<view class="uni-margin-wrap">
			<swiper class="banner-container" indicator-dots="true" autoplay="true" circular="true" interval="3000" 
	duration="1000"  previous-margin="20rpx" next-margin="20rpx">
	<block v-for="(item,index) in imgList" :key="index">
		<swiper-item class="banner-item">
			<view class="banner-box">
				<image class="banner-img" :src="item.imgUrl" ></image>
			</view>
		</swiper-item>
	</block>
</swiper>

			<!-- 导航栏 -->
			<view class="uni-navigation">
				<view class="icon" @click="goToeveryday">
					<image class="images" src="../../static/images/icon/newProd.png" alt="">
						<p class="uni-navtitle">同城帮帮</p>
				</view>
				<view class="icon" @click="goTopreferential">
					<image class="images" src="../../static/images/icon/timePrice.png" alt="">
						<p class="uni-navtitle">限时特惠</p>
				</view>
				<view class="icon" @click="goToMadgrab">
					<image class="images" src="../../static/images/icon/neweveryday.png" alt="">
						<p class="uni-navtitle">每日疯抢</p>
				</view>
			</view>
			<!-- 通知动画轮播栏 -->
			<view class="uni-notice" @click="goToannouncement">
				<image src="../../static/images/icon/horn.png" class="hornimg">
					<swiper class="swiper-cont" vertical="true" circular :autoplay="autoplay" :duration="1000">
						<swiper-item v-for="item in notice" :key="shopId">
							<view class="items">{{item.title}}</view>
						</swiper-item>
					</swiper>
					<image class="arrow" src="../../static/images/icon/more.png" alt="">
			</view>
		</view>
		<!-- 每日上新 -->
		<view class="uni-update">
			<view class="title">
				<text>每日上新</text>
				<view class="uni-cont">
					<text class="more">查看更多</text>
				</view>
			</view>
			<!-- 每日上新列表数据 -->
			<view class="item-count">
				<view class="show-item" v-for="(item,index) in list[0].productDtoList" :key="index" @click="gotoDetail(item.prodId)">
					<view class="more-prod-pic">
						<image class="more-pic" :src="item.pic" @error="imgerror($event,index)"/>
					</view>
					<view class="prod-text-right">
						<view class="uni-more">{{item.prodName}}</view>
						<view class="prod-info">
							{{item.brief}}
						</view>
						<view class="b-cart">
							<view class="price">
								<text class="symbol">￥</text>
								<text class="big-num">{{item.price}}</text>
							</view>
							<img src="../../static/images/tabbar/basket-sel.png" class="big-img" alt="">
						</view>
					</view>
				</view>
			</view>
		</view>
		<!-- 商城热卖 -->
		<view class="uni-hotsale">
			<view class="title">
				<text>商场热卖</text>
				<view class="hotsale-cont" @click="goTohot">
					<text class="mores">更多</text>
					<text class="arrows">
						<image src="../../static/images/icon/more.png" alt="">
					</text>
				</view>
			</view>
			<!-- 商场热卖列表数据 -->
			<view class="hotsellingdata">
				<view class="prod-items" v-for="item in list[1].productDtoList" :key="prodId" @click="gotoDetail(item.prodId)">
					<view class="hot-imagecont">
						<img class="hotsaleimg" :src="item.pic" />
					</view>
					<view class="hot-text">
						<view class="hotprod-text">
							{{item.prodName}}
						</view>
						<view class="prod-info">
							{{item.brief}}
						</view>
						<view class="hotprodinfo">
							<view class="price">
								<text class="symbol">￥</text>
								<text class="big-num">{{item.price}}</text>
							</view>
							<img src="../../static/images/tabbar/basket-sel.png" class="shop-img">
						</view>
					</view>
				</view>
			</view>
		</view>
		<!-- 更多宝贝 -->
		<view class="uni-hotsale">
			<view class="title">
				<text>更多宝贝</text>
				<view class="hotsale-cont" @click="goTodetail">
					<text class="mores">更多</text>
					<text class="arrows">
						<image src="../../static/images/icon/more.png" alt="">
					</text>
				</view>
			</view>
			<!-- 更多宝贝列表数据 -->
			<view class="hotsellingdata">
				<view class="prod-items" v-for="item in list[1].productDtoList" :key="prodId" @click="gotoDetail(item.prodId)">
					<view class="hot-imagecont">
						<img class="hotsaleimg" :src="item.pic" />
					</view>
					<view class="hot-text">
						<view class="hotprod-text">
							{{item.prodName}}
						</view>
						<view class="prod-info">
							{{item.brief}}
						</view>
						<view class="hotprodinfo">
							<view class="price">
								<text class="symbol">￥</text>
								<text class="big-num">{{item.price}}</text>
							</view>
							<img src="../../static/images/tabbar/basket-sel.png" class="shop-img" alt="">
						</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
//引入数据接口
import { indexImgs, indexlist, indexnotice } from "@/api/api";
export default {
  data() {
    return {
      background: ["color1", "color2", "color3"],
      indicatorDots: true,
      autoplay: true,
      interval: 2000,
      duration: 500,
      imgList: [], //首页轮播图数据
      list: [], //首页列表数据
      notice: [], //首页通知动画轮播栏数据
      tagId: 1, //当前页
      size: 6, //每页多少条
      pages: 1, //总共可以分多少页
    };
  },
  async created() {
    //首页轮播图的接口
    let res = await indexImgs();
    this.imgList = res;
    this.getinit();
  },
  //下拉刷新
  onPullDownRefresh() {
    console.log("下拉");
    this.tagId = 1;
    this.pages = 1;
    this.size = 6;
    this.list = [];
    this.getinit();
  },
  //上拉加载
  onReachBottom() {
    if (this.tagId <= this.pages) {
      this.tagId++;
      this.getinit();
    }
  },

  methods: {
    gotoDetail(id) {
      //跳详情页
      uni.navigateTo({
        url: "/detailpkg/detail/detail?prodId=" + id,
      });
    },
    //加载图片发生错误时，显示默认图片
    imgerror: function (e, index) {
      var _this = this;
      if (_this.list[0].productDtoList.length > 0) {
        _this.list[0].productDtoList[index].pic =
          "../../static/images/tabbar/th.jpg";
      }
    },
    goTosearch() {
      //跳搜索
      uni.navigateTo({
        url: "/searchpkg/search/search",
      });
    },
    //更多宝贝
    goTodetail() {
      console.log("111111");
      uni.navigateTo({
        url: "/pages/recommended/recommended",
      });
    },
    //商场热卖
    goTohot() {
      uni.navigateTo({
        url: "/pages/mall hot buy/mall hot buy",
      });
    },
    //通知轮播栏
    goToannouncement() {
      uni.navigateTo({
        url: "/pages/announcement/announcement",
      });
    },
    //导航栏的同城帮帮
    goToeveryday() {
      console.log("111111");
      uni.navigateTo({
        url: "/pages/everyday/everyday",
      });
    },
    //导航栏的每日疯抢
    goToMadgrab() {
      uni.navigateTo({
        url: "/pages/madgrab/madgrab",
      });
    },
    //导航栏的限时特惠
    goTopreferential() {
      uni.navigateTo({
        url: "/pages/preferential/preferential",
      });
    },
    async getinit() {
      //首页通知动画栏接口
      let err = await indexnotice();
      console.log(err);
      this.notice = err.records;
      //首页数据的接口数据
      let row = await indexlist();
      this.list = this.list.concat(row);
      this.pages = row.pages;
      console.log(row, "row");
    },
  },
};
</script>

<style lang="scss">
//首页总盒子
.uni-box {
  width: 100%;
  height: 100%;
}

// 轮播
.uni-margin-wrap {
  width: 100%;
  height: auto;
}

/* 轮播图 */
.banner-container {
  margin-top: 20rpx;
  width: 100%;
  height: 330rpx;
}
.banner-item {
  display: flex;
  justify-content: center;
}
.banner-box {
  width: 97%; /* 控制两张图片的间距 */
  height: 100%;
}
.banner-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

//搜索
.search-bar {
  width: 100%;
  height: 100rpx;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
  z-index: 999;

  .search_mian {
    width: 100%;
    height: 60rpx;

    .search-s {
      width: 100%;
      height: 50px;

      .search-ss {
        width: 95%;
        height: 30px;
        display: flex;
        align-items: center;

        .uni-searchbar__box {
          width: 100%;
          height: 100%;
          border-radius: 50% !important;
        }
      }
    }
  }
}

//导航栏
.uni-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20rpx;
  padding-top: 15rpx;
  padding-bottom: 15rpx;
  background: #fff;
}

.icon {
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  line-height: 30px;
}

.images {
  width: 37px;
  height: 37px;
}

.uni-navtitle {
  font-size: 26rpx;
  margin-top: 10rpx;
}

//通知动画轮播栏
.uni-notice {
  position: relative;
  height: 90rpx;
  background: #fff;
  margin: auto;
  padding: 0 60rpx 0 100rpx;
  box-sizing: border-box;
  border: 2rpx solid #fafafa;
}

.hornimg {
  width: 40px;
  height: 20px;
  position: absolute;
  left: 20rpx;
  top: 27rpx;
}

.swiper-cont {
  height: 90rpx;
  line-height: 90rpx;
}

.items {
  font-size: 26rpx;
  font-weight: bold;
}

.arrow {
  width: 20rpx;
  height: 20rpx;
  position: absolute;
  right: 30rpx;
  top: 34rpx;
}

//每日上新
.uni-update {
  background-color: #fff;
}

.title {
  position: relative;
  height: 64rpx;
  line-height: 64rpx;
  font-size: 32rpx;
  padding: 40rpx 0 10rpx 30rpx;
  color: #333;
  background: #fff;
}

.uni-cont {
  color: #999;
  display: inline-block;
  text-align: right;
}

.uni-cont .more {
  position: absolute;
  right: 30rpx;
  top: 48rpx;
  color: #fff;
  font-size: 24rpx;
  background: #65addf;
  border-radius: 30rpx;
  padding: 0 30rpx;
  height: 44rpx;
  line-height: 44rpx;
}

//每日上新列表数据
.show-item {
  position: relative;
  display: flex;
  padding: 20rpx;
  justify-content: start;
  border-top: 2rpx solid #f4f4f4;
}

.more-prod-pic {
  width: 250rpx;
  height: 250rpx;
}

.more-prod-pic .more-pic {
  max-width: 100%;
  max-height: 100%;
}

.prod-text-right {
  margin-left: 30rpx;
  width: 72%;
  padding-bottom: 10rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.uni-more {
  margin: 0;
  font-size: 28rpx;
  overflow: hidden;
  margin-bottom: 20rpx;
  display: -webkit-box;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.prod-info {
  font-size: 22rpx;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-cart {
  margin-top: 30rpx;
}

.price {
  font-family: Arial;
  display: inline-block;
  color: #eb2444;
  padding-bottom: 10rpx;
  padding-left: 10rpx;
}

.symbol {
  font-size: 24rpx;
}

.big-num {
  font-size: 32rpx;
}

.big-img {
  width: 50rpx;
  height: 50rpx;
  position: absolute;
  right: 46rpx;
  padding: 8rpx;
}

//商城热卖栏
.mores {
  position: absolute;
  right: 30rpx;
  top: 48rpx;
  color: #666;
  font-size: 24rpx;
  padding: 0 20rpx;
  height: 44rpx;
  line-height: 44rpx;
}

.arrows {
  width: 15rpx;
  height: 15rpx;
  border-top: 3rpx solid #686868;
  border-right: 3rpx solid #686868;
  transform: rotate(45deg);
  position: absolute;
  right: 30rpx;
  top: 61rpx;
}

//商城热买列表数据
.hotsellingdata {
  padding-bottom: 20rpx;
  background: #fff;
  padding-left: 30rpx;
}

.prod-items {
  width: 345rpx;
  display: inline-block;
  background: #fff;
  padding-bottom: 20rpx;
  box-sizing: border-box;
  box-shadow: 0rpx 6rpx 8rpx rgba(58, 134, 185, 0.2);
}

.hot-imagecont {
  font-size: 0;
  text-align: center;
}

.hotsaleimg {
  width: 341rpx;
  height: 341rpx;
}

.hot-text {
  margin-top: 20rpx;
  padding: 0 10rpx;
}

.hotprod-text {
  font-size: 28rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hotprodinfo {
  position: relative;
  height: 70rpx;
  line-height: 70rpx;
  font-family: Arial;
}

.shop-img {
  width: 50rpx;
  height: 50rpx;
  position: absolute;
  right: 0;
  bottom: 7rpx;
  padding: 8rpx;
}
</style>
