<template>
	<view>
		<view class="from">
			<text>收货人</text>
			<input type="text" v-model="name" placeholder="姓名" />
		</view>
		<view class="from">
			<text>手机号码</text>
			<input type="text" v-model="phone" placeholder="11位手机号码" />
		</view>
		<view class="from">
			<text>所在地区</text>
			<view>
				<view class="uni-padding-wrap" @click="sure">
					<view class="uni-title"> {{text}} </view>
				</view>
			</view>
		</view>
		<view class="from">
			<text>详细地址</text>
			<input type="text" v-model="address" placeholder="如楼号/单元/门牌号" />
		</view>
		<view class="button">
			<button @click="submin" class="sure"><text>保存收货地址</text></button>
		</view>
		<view>
			<View> </View>
			<picker-view v-if="visible" :indicator-style="indicatorStyle" :value="value" @change="bindChange"
				class="picker-view">
				<view class="oksss"> <text @click="ok" class="okss"> 确定 </text> </view>

				<picker-view-column>
					<view class="item" v-for="(item,index) in province" :key="item.areaId">{{item.areaName}}</view>
				</picker-view-column>
				<picker-view-column>
					<view class="item" v-for="(item,index) in city" :key="item.areaId">{{item.areaName}}</view>
				</picker-view-column>
				<picker-view-column>
					<view class="item" v-for="(item,index) in area" :key="item.areaId">{{item.areaName}}</view>
				</picker-view-column>
			</picker-view>
		</view>

	</view>
</template>

<script>
	import {
		addre,
		linkage
	} from "../../api/addres";
	export default {
		data() {
			return {
				visible: false,
				name: "",
				phone: "",
				address: "",
				province: [],
				city: [],
				area: [],
				val: [0, 0, 0],
				text: "请选择地址"
			};
		},
		created() {
			this.getlinkage(0)
		},
		watch: {
			val: {
				handler: function(newval, oldval) {
					this.text = this.text = this.province[newval[0]].areaName + this.city[newval[1]].areaName + this
						.area[newval[2]].areaName
				},
				deep: true,
			}
		},
		methods: {
			sure() {
				this.visible = true;
			},
			ok() {
				this.visible = !this.visible;
				this.text = this.province[this.val[0]].areaName + this.city[this.val[1]].areaName + this.area[this.val[2]]
					.areaName
				console.log(this.val, this.province[this.val[0]].areaName + this.city[this.val[1]].areaName + this.area[
					this.val[2]].areaName);
			},
			async getlist(id, type, callback) {
				let res = await linkage({
					pid: id
				})
				this[type] = res;
				callback && callback()
			},
			async getlinkage(id) {
				this.getlist(id, 'province', () => {
					this.getcity(this.province[this.val[0]].areaId)
				})

			},
			async getcity(id) {
				this.getlist(id, 'city', () => {
					this.getarea(this.city[this.val[1]].areaId)
				})

			},
			async getarea(id) {
				this.getlist(id, 'area')
			},

			async submin() {
				if (this.name == '') {
					uni.showToast({
						title: '请输入收货人姓名',
						duration: 2000,
						icon: "none"
					});
				} else {
					if (this.phone == '') {
						uni.showToast({
							title: '请输入手机号码',
							duration: 2000,
							icon: "none"
						});
					} else {
							const regexp = /^(?:(?:\+|00)86)?1\d{10}$/;
							if (regexp.test(this.phone) == false) {
								uni.showToast({
									title: '请输入正确的手机号码',
									icon: "none"
								});
								return
						} else {
							if (this.address == '') {
								uni.showToast({
									title: '请输入详情地址',
									duration: 2000,
									icon: "none"
								});
							} else {
								let res = await addre({
									addr: this.address,
									addrId: 0,
									area: this.area[this.val[2]].areaName,
									areaId: this.area[this.val[2]].areaId,
									city: this.city[this.val[1]].areaName,
									cityId: this.city[this.val[1]].areaId,
									commonAddr: 0,
									mobile: this.phone,
									province: this.province[this.val[0]].areaName,
									provinceId: this.province[this.val[0]].areaId,
									receiver: this.name,
									userType: 0
								});
								uni.redirectTo({
									url: "/pages/addr/addr",
								});
							}
						}
					}

				}

				// let res = await addre({
				// 	addr: this.address,
				// 	addrId: 0,
				// 	area: this.area[this.val[2]].areaName,
				// 	areaId: this.area[this.val[2]].areaId,
				// 	city: this.city[this.val[1]].areaName,
				// 	cityId: this.city[this.val[1]].areaId,
				// 	commonAddr: 0,
				// 	mobile: this.phone,
				// 	province: this.province[this.val[0]].areaName,
				// 	provinceId: this.province[this.val[0]].areaId,
				// 	receiver: this.name,
				// 	userType: 0
				// });
				// uni.redirectTo({
				//   url: "/pages/addr/addr",
				// });
			},
			bindChange: function(e) {
				const val = e.detail.value;
				this.val = val;
				this.getcity(this.province[val[0]].areaId)
			}
		},
	};
</script>

<style lang="scss" scoped>
	.from {
		display: flex;
		align-items: center;
		border-bottom: 1px #e1e1e1 solid;
		width: 100%;
		height: 60px;
		padding-left: 10px;
		font-size: 14px;

		input {
			margin-left: 25px;
		}
	}

	.button {
		width: 100%;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 30px;
	}

	.sure {
		width: 60%;
		height: 100%;
		border-radius: 25px;
		border: none;
		background-color: #eb2444;
		display: flex;
		align-items: center;
		justify-content: center;

		text {
			color: #fff;
			font-size: 14px;
		}
	}

	.picker-view {
		width: 750rpx;
		height: 600rpx;
		margin-top: 20rpx;
	}

	.item {
		height: 50px;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.okss {
		position: absolute;
		z-index: 999;
		right: 10px;
		top: 10px;
	}

	.oksss {
		position: absolute;
		width: 100%;
		height: 50px;
		background-color: #fff;
		z-index: 998;
	}

	.uni-padding-wrap {
		padding: 0 0 0 20px;
	}
</style>
