<template>
  <view class="detail">
    <!-- 轮播 -->
    <view class="uni-margin-wrap">
      <swiper
        class="swiper"
        circular
        :indicator-dots="indicatorDots"
        :autoplay="autoplay"
        :interval="interval"
        :duration="duration"
      >
        <swiper-item v-for="(item, index) in imgs" :key="index">
          <image :src="item" mode="heightFix" class="img"></image>
        </swiper-item>
      </swiper>
    </view>
    <!-- 标题 -->
    <view class="title">
      <dl>
        <dt>
          <h4>{{ obj.prodName }}</h4>
          <p>{{ obj.brief }}</p>
        </dt>
        <dd>
          <div>
            <img src="@/static/images/icon/prod-col.png" alt="" />
            <p>收藏</p>
          </div>
        </dd>
      </dl>
      <h3>￥{{ obj.price }}</h3>
    </view>
    <!-- 选项卡 -->
    <view class="option">
      <div>
        <span>已选</span>
        <p>从VB你们</p>
        <span>·&nbsp;·&nbsp;·</span>
      </div>
    </view>
    <!-- 评论 -->
    <view class="comment">
      <div class="commentHeader">
        <div>
          <h6>评论<span>好评0%</span></h6>
          <p>
            <span>共0条</span><img src="@/static/images/icon/more.png" alt="" />
          </p>
        </div>
      </div>
      <hr />
      <div class="btn">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
      </div>
    </view>
    <!-- 详情 -->
    <view class="detailimg">
      <img src="@/static/images/icon/more.png" alt="" />
      <img src="@/static/images/icon/more.png" alt="" />
      <img src="@/static/images/icon/more.png" alt="" />
    </view>
    <!-- 底部 -->
    <view class="uni-container">
      <uni-goods-nav
        @click="onClick"
        :options="options"
        class="btnadd"
        :button-group="buttonGroup"
      />
    </view>
  </view>
</template>
<script>
import { detail } from "@/api/detail";
export default {
  data() {
    return {
      background: ["color1", "color2", "color3"],
      indicatorDots: true,
      autoplay: true,
      interval: 2000,
      duration: 500,
      id: null,
      obj: {},
      imgs: [],
      options: [
        {
          icon: "chat",
          text: "客服",
        },
        {
          icon: "cart",
          text: "购物车",
          info: 2,
        },
      ],
      buttonGroup: [
        {
          text: "加入购物车",
          backgroundColor: "#584e61",
          color: "#fff",
        },
        {
          text: "立即购买",
          backgroundColor: "#eb2444",
          color: "#fff",
        },
      ],
    };
  },
  onLoad(option) {
    this.getInit(option.prodId);
  },
  created() {
    this.getInit();
  },
  methods: {
    async getInit(id) {
      let res = await detail({ prodId: id });
      console.log(res, "res");
      this.obj = res;
      this.imgs = this.obj.imgs.split(",");
    },
    onClick(e) {
      uni.showToast({
        title: `点击${e.content.text}`,
        icon: "none",
      });
    },
    buttonClick(e) {
      console.log(e);
      this.options[2].info++;
    },
    changeIndicatorDots(e) {
      this.indicatorDots = !this.indicatorDots;
    },
    changeAutoplay(e) {
      this.autoplay = !this.autoplay;
    },
    intervalChange(e) {
      this.interval = e.target.value;
    },
    durationChange(e) {
      this.duration = e.target.value;
    },
  },
};
</script>

<style lang="scss" scoped>
.detail {
  // position: relative;
  width: 100%;
  height: 100%;
}
// 底部导航
.btnadd {
  // width: 100%;
  // height: 50px;
  // background: #ffc;
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;
  // height: 40px;
  line-height: 40px;
}
.example-body {
  padding: 0;
  /* #ifndef APP-NVUE */
  display: block;
  /* #endif */
}

.goods-carts {
  /* #ifndef APP-NVUE */
  display: flex;
  /* #endif */
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  /* #ifdef H5 */
  left: var(--window-left);
  right: var(--window-right);
  /* #endif */
  bottom: 0;
}
// 详情
.detailimg {
  width: 100%;
  height: auto;
  margin-top: 10px;
  background: #fcf;
  img {
    width: 100%;
    height: 300px;
  }
}
// 评论
.comment {
  width: 100%;
  min-height: 140px;
  background: #fff;
  .commentHeader {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    div {
      width: calc(100% - 20px);
      margin-left: 10px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h6 {
        span {
          color: red;
          margin-left: 5px;
          font-size: 14px;
        }
      }
      p {
        span {
          color: #666;
          margin-right: 10px;
          font-size: 14px;
        }
      }
    }

    img {
      width: 14px;
      height: 14px;
      bottom: #ffc;
    }
    span {
      color: red;
    }
  }
  .btn {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    p {
      background: rgb(253, 239, 239);
      width: 60px;
      height: 30px;
      margin: 13px 13px 0 0;
      text-align: center;
      line-height: 30px;
      font-size: 12px;
      border-radius: 3px;
    }
  }
}
// 选择
.option {
  width: 100%;
  height: 35px;
  background: #fff;
  margin: 8px 0;
  // padding:  10px;
  div {
    // margin: 10px;
    width: 90%;
    padding-left: 5%;
    display: flex;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 10px;
      color: #666;
    }
    p {
      width: 75%;
    }
  }

  // padding: 10px;
}
// 标题内容
.title {
  width: 100%;
  min-height: 60px;
  padding: 10px 15px;
  background: #fff;
  dl {
    width: 100%;
    min-height: 40px;
    display: flex;
    dt {
      width: 75%;
      height: 100%;
      text-align-last: left;
      p {
        color: #666;
        font-size: 12px;
      }
    }
    dd {
      width: 25%;
      height: 50px;
      font-size: 10px;
      div {
        width: 100%;
        text-align: center;
        border-left: 1px solid rgb(244, 243, 243);
        padding-right: 20px;
      }
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
  h3 {
    color: red;
    padding-left: 10px;
  }
}

// 轮播
.uni-margin-wrap {
  width: 100%;
  height: 750rpx;
}
.swiper {
  width: 100%;
  height: 750rpx;
}
.swiper > image {
  width: 100%;
  height: 100%;
}
.swiper-item {
  display: block;
  height: 402rpx;
  line-height: 402rpx;
  text-align: center;
}
.swiper-list {
  margin-top: 40rpx;
  margin-bottom: 0;
}
.uni-common-mt {
  margin-top: 60rpx;
  position: relative;
}
.info {
  position: absolute;
  right: 20rpx;
}
.uni-padding-wrap {
  width: 550rpx;
  padding: 0 100rpx;
}
.img {
  width: 100%;
  height: 100%;
}
</style>

