<template>
  <view class="container">
    <!-- 搜索框 -->
    <view class="fixed-box">
      <view class="search-bar">
        <view class="search-box">
          <input
            class="sear-input"
            v-model="obj.prodName"
            @confirm="searcha"
            @input="input"
          />
          <image
            src="@/static/images/icon/search.png"
            class="search-img"
          ></image>
        </view>
        <view class="search-list-img" @click="buts">
          <!-- <image :src="flag?'@/static/images/icon/search-col2.png':'@/static/images/icon/search-col.png'"></image> -->
          <image src="@/static/images/icon/search-col2.png" v-if="flag"></image>
          <image src="@/static/images/icon/search-col.png" v-else></image>
        </view>
      </view>
      <!-- top -->
      <view class="tabs">
        <text
          class="tab-item"
          v-for="(item, index) in arr"
          :key="index"
          :class="obj.sort === index ? 'on' : ''"
          @click="btn(index)"
          >{{ item }}</text
        >
      </view>
    </view>
    <!-- 内容 -->
    <view :class="flag === true ? 'prod-list' : 'prods-list'">
      <view class="cont-item">
        <view
          class="show-item"
          v-for="(item, index) in list.records"
          :key="index"
        >
          <view class="more-prod-pic">
            <image :src="item.pic" class="more-pic"></image>
          </view>
          <view class="prod-text-right">
            <view class="prod-text more">
              {{ item.prodName }}
            </view>
            <view class="cate-prod-info"
              >{{ item.praiseNumber }}评价 {{ item.prodCommNumber }}好评</view
            >
            <view class="prod-price more">
              <text class="symbol">￥</text>
              <text class="big-num">{{ item.price }}</text>
              <text class="small-num">.00</text>
            </view>
          </view>
        </view>
      </view>
    </view>
  </view>
</template>

<script>
import { seAechCc } from "../../api/search.js";
export default {
  data() {
    return {
      arr: ["综合", "销量", "价格"],
      i: 0,
      value: "",
      list: [],
      sts: 0,
      obj: {
        current: 1,
        prodName: "",
        size: 10,
        sort: 0,
      },
      flag: true,
    };
  },

  onLoad(option) {
    this.obj.prodName = option.val;

    this.getList();
    console.log(option, "---------------");
  },
  created() {
    this.getList();
  },
  methods: {
    searcha() {
      this.getList();
    },
    async getList() {
      let res = await seAechCc(this.obj);
      this.list = res;
    },
    btn(index) {
      this.obj.sort = index;
      this.getList();
    },
    buts() {
      this.flag = !this.flag;
    },
  },
};
</script>

<style lang="scss" scoped>
view {
  display: block;
}

.container {
  width: 100%;
  height: 100%;
  color: #333;

  .fixed-box {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background: #fff;
    display: block;

    .search-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      color: #777;
      background: #fff;
      z-index: 3;
      padding: 0 30rpx;
      box-sizing: border-box;

      .search-box {
        position: relative;
        height: 60rpx;
        background: #f7f7f7;
        z-index: 999;
        width: 80%;
        border-radius: 50rpx;
        margin-right: 30rpx;
        flex: 1;

        .sear-input {
          height: 60rpx;
          border-radius: 50rpx;
          border: 0;
          margin: 0 30rpx 0 64rpx;
          line-height: 48rpx;
          vertical-align: top;
          background: #f7f7f7;
          font-size: 28rpx;
        }

        .search-img {
          width: 32rpx;
          height: 32rpx;
          position: absolute;
          left: 20rpx;
          top: 14rpx;
          display: block;
        }
      }

      .search-list-img {
        width: 40rpx;
        height: 40rpx;
        font-size: 0;

        image {
          width: 100%;
          height: 100%;
        }
      }
    }

    .tabs {
      width: 100%;
      height: 80rpx;
      line-height: 80rpx;
      padding: 10rpx 0;
      z-index: 999;
      background: #fff;
      display: block;
      border-bottom: 1px solid #ccc;

      .tab-item {
        display: inline-block;
        width: 33.33%;
        text-align: center;
        font-size: 28rpx;
      }

      .on {
        color: #eb2444;
      }
    }
  }

  .prod-list {
    width: 100%;
    height: 254rpx;
    display: block;

    .cont-item {
      padding: 0 20rpx 20rpx 20rpx;
      margin-top: 180rpx;
      display: block;

      .show-item {
        position: relative;
        display: flex;
        justify-content: start;
        padding: 20rpx;
        border-radius: 20rpx;
        background: #fff;
        margin-bottom: 20rpx;
        box-shadow: 0 16rpx 32rpx 0 rgba(7, 17, 27, 0.05);

        .more-prod-pic {
          text-align: center;
          width: 170rpx;
          height: 170rpx;
          font-size: 0;

          .more-pic {
            width: 100%;
            height: 100%;
            vertical-align: middle;
          }
        }

        .prod-text-right {
          margin-left: 20rpx;
          width: 75%;

          .prod-text.more {
            width: 100%;
            /* 设置高度是行高的倍数，防止文本露出一半 */
            line-height: 20px;
            /* 旧版弹性盒 */
            display: -webkit-box;
            /* 弹性盒子元素垂直排列 */
            -webkit-box-orient: vertical;
            /* 控制要显示的行数 */
            -webkit-line-clamp: 1;
            overflow: hidden;

          }

          .cate-prod-info {
            font-size: 22rpx;
            color: #999;
            margin: 10rpx 0 20rpx 0;
          }

          .prod-price.more {
            font-size: 28rpx;
            color: #eb2444;
            font-family: arial;

            .symbol {
              font-size: 24rpx;
            }

            .big-num {
              font-size: 32rpx;
            }

            .small-num {
              font-size: 24rpx;
            }
          }
        }
      }
    }
  }

  .prods-list {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fff;

    .cont-item {
      width: 100%;
      margin-top: 180rpx;
      display: flex;
      flex-wrap: wrap;

      .show-item {
        padding: 0 20rpx 20rpx 20rpx;
        display: block;
        width: 366rpx;
        float: left;
        background: #fff;
        padding-bottom: 20rpx;
        box-sizing: border-box;

        .more-prod-pic {
          border-radius: 8rpx;
          text-align: center;
          font-size: 0;

          .more-pic {
            width: 344rpx;
            height: 344rpx;
          }
        }

        .prod-text-right {
          margin-top: 20rpx;

          .prod-text.more {
            height: 76rpx;
            font-size: 28rpx;
            width: 100%;
            /* 设置高度是行高的倍数，防止文本露出一半 */
            line-height: 20px;
            /* 旧版弹性盒 */
            display: -webkit-box;
            /* 弹性盒子元素垂直排列 */
            -webkit-box-orient: vertical;
            /* 控制要显示的行数 */
            -webkit-line-clamp: 2;
            overflow: hidden;
          }

          .cate-prod-info {
            font-size: 20rpx;
            color: #777;
            margin-top: 8rpx;
          }

          .prod-price.more {
            width: 100%;
            height: 50rpx;
            line-height: 50rpx;
            color: #eb2444;

            .symbol {
              font-size: 24rpx;
            }

            .big-num {
              font-size: 32rpx;
            }

            .small-num {
              font-size: 24rpx;
            }
          }
        }
      }
    }
  }
}
</style>
