<template>
	<view class="container">
		<view class="prod-items" v-for="item in list" :key="prodId">
			<view class="hot-imagecont">
				<img class="hotsaleimg" :src="item.pic" alt="">
			</view>
			<view class="hot-text">
				<view class="hotprod-text">
					{{item.prodName}}
				</view>
				<view class="prod-text-info">
					<view class="price">
						<text class="symbol">￥</text>
						<text class="big-num">{{item.price}}</text>
					</view>
				</view>
			</view>
		</view>

	</view>
</template>

<script>
	import {
		indexlastedprodpage
	} from '@/api/api.js'
	export default {
		data() {
			return {
				list: [], //列表数据
				current: 1, //当前页
				size: 10, //一共多少条
				pages: 1, //一共可以分多少页
				tagId: 3
			};
		},
		async created() {
			let res = await indexlastedprodpage({
				tagId: this.tagId,
				current: this.current,
				size: this.size
			});
			this.list = res.records;
			this.getinit()
		},
		//下拉刷新
		onPullDownRefresh() {
			console.log('下拉');
			this.tagId = 3;
			this.current = 1;
			this.size = 10;
			this.list = [];
			this.getinit()
		},
		//上拉加载
		onReachBottom() {
			//延时器
			setTimeout(() => {
				if (this.current <= this.pages) {
					this.current++;
					this.getinit();
				}
				console.log('上拉');
			}, 1000)

		},
		methods: {
			async getinit() {
				let res = await indexlastedprodpage({
					tagId: this.tagId,
					current: this.current,
					size: this.size
				});
				this.list = this.list.concat(res.records)
				this.pages = res.pages
			}
		}
	}
</script>

<style lang="scss">
	.container {
		height: 100%;
		box-sizing: border-box;
		color: #333;
	}

	.prod-items {
		width: 375rpx;
		float: left;
		background: #fff;
		padding-bottom: 20rpx;
		box-sizing: border-box;
		padding: 20rpx 10rpx 10rpx 20rpx;
	}

	.hot-imagecont {
		border-radius: 8rpx;
		text-align: center;
		font-size: 0;
	}

	.hot-imagecont .hotsaleimg {
		width: 345rpx;
		height: 345rpx;
	}

	.prod-items .hot-text {
		margin-top: 20rpx;
	}

	.hotprod-text {
		height: 76rpx;
		font-size: 28rpx;
		display: -webkit-box;
		word-break: break-all;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		color: #000;
	}

	.prod-text-info {
		position: relative;
		height: 50rpx;
		line-height: 70rpx;
		font-family: Arial;
	}

	.price {
		color: #eb2444;
	}

	.symbol {
		font-size: 24rpx;
	}

	.big-num {
		font-size: 32rpx;
	}
</style>
