<template>
	<view class="uni-announcement">
		<view class="uni-title">
			<view class="uni-newitem" v-for="(item,index) in list" :key="index" @click="announ(item.id)">
				<view class="title">
					{{item.title}}
				</view>
				<view class="time">
					{{item.publishTime}}
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	//引入数据接口
	import {
		indexnotice,
		indexinfo,
		indexinfotitle
	} from '@/api/api.js'
	export default {
		data() {
			return {
				list: [], //列表的数组
			};
		},
		created() {
			this.getinit()
		},
		methods: {
			async getinit() {
				let res = await indexnotice();
				this.list = res.records
				console.log(this.list, 'res');
			},
			announ(id) {
				console.log(id);
				(async () => {
					//首先获取数据
					let row = await indexinfo(id)
					//把数据转换为JSON对象
					let arr = JSON.stringify(row);
					// encodeURIComponent 是用来编码你准备用作 query 一部分的字符串的
					let err = encodeURIComponent(arr);
					uni.navigateTo({
						url: '/pages/announ/announ?row=' + err
					})
				})()
			},
		},
	}
</script>

<style lang="scss">
	.uni-announcement {
		height: 100%;
		box-sizing: border-box;
	}

	.uni-title {
		background: #fff;
	}

	.uni-newitem {
		padding: 20rpx 20rpx 0 20rpx;
	}

	.title {
		font-size: 28rpx;
	}

	.time {
		font-size: 24rpx;
		color: #999;
		text-align: right;
		margin-top: 10rpx;
		margin-bottom: 20rpx;
	}
</style>
