<template>
  <view>
    <view class="login">
      <img src="../../static/images/icon/logo.png" alt="" />
      <view class="project"> 电商平台 </view>
      <view class="information"> 申请获得你的公开信息（昵称、头像等） </view>
      <button @click="getuserprofile">微信授权</button>
    </view>
  </view>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {};
  },
  methods: {
    ...mapActions("user", ["getToken"]),
    getuserprofile() {
      uni.getUserProfile({
        desc: "获取你的昵称、头像",
        success: (res) => {
          console.log(res.userInfo, "456");
          uni.login({
            success: (res1) => {
              this.getToken({ code: res1.code, userInfo: res.userInfo });
              // uni.switchTab({
              //   url: "/pages/my/my",
              // });
              
           
            },
          });
        },
        fail: (err) => {
          console.log(err, "123");
          uni.showToast({
            title: "用户拒绝访问",
            icon: "error",
          });
        },
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img {
    width: 75px;
    height: 75px;
    margin: auto;
    margin-top: 50px;
    border-radius: 50%;
  }
  .project {
    font-size: 14px;
    color: #333;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .information {
    font-size: 14px;
    color: #666;
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }
  button {
    margin-top: 15px;
    width: 450rpx;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    color: #fff;
    background: #eb2444;
    border: 2rpx solid #eb2444;
  }
}
</style>
