<template>
	<view class="uni-madgrab">
		<view class="uni-items" v-for="(item,index) in list" :key="index">
			<view class="uni-imagecont">
				<image :src="item.pic" alt="" class="uni-img" @error="imgerror($event,index)">
			</view>
			<view class="uni-up">
				<view class="title-text">
					{{item.prodName}}
				</view>
				<view class="uni-to">
					<view class="price">
						<text class="sybol">￥</text>
						<text class="big-num">{{item.price}}</text>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import {
		indexmadgrab
	} from '@/api/api.js'
	export default {
		data() {
			return {
				list: []
			};
		},
		created() {
			this.getinit()
		},
		methods: {
			//加载图片发生错误时，显示默认图片
			imgerror: function(e, index) {
				var _this = this
				if (_this.list.length > 0) {
					_this.list[index].pic = "../../static/images/tabbar/th.jpg"
				}
			},
			async getinit() {
				let res = await indexmadgrab();
				console.log(res, 'res');
				this.list = res.records
			}
		},
	}
</script>

<style lang="scss">
	.uni-madgrab {
		height: 100%;
		box-sizing: border-box;
	}

	.uni-items {
		padding: 20rpx 10rpx 10rpx 20rpx;
		width: 375rpx;
		float: left;
		background: #fff;
		padding-bottom: 20rpx;
		box-sizing: border-box;
	}

	.uni-imagecont {
		border-radius: 8rpx;
		text-align: center;
		font-size: 0;
	}

	.uni-img {
		width: 172px;
		height: 172px;
	}

	.uni-up {
		margin-top: 20rpx;
	}

	.title-text {
		height: 76rpx;
		font-size: 28rpx;
		overflow: hidden;
	}

	.uni-to {
		position: relative;
		height: 50rpx;
		line-height: 70rpx;
		font-size: 30rpx;
	}

	.price {
		padding-bottom: 10rpx;
		padding-left: 10rpx;
		color: #eb2444;
	}
</style>
